@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&family=Smokum&display=swap');

//fonts

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif; 
$headings-font: 'Smokum', cursive;


//Colors

$primary-font-color: #22121a;
$secondary-font-color: #965217;
$h1-color: #c99e75;
$box-details-color: #e7f1f1;
$background-color: #ddb68b;
$link-colors: #9acae7;

